<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<resultMap type="Board" id="boardResultSet">
		<id property="aNo" column="ARTICLE_NO"/>
		<result property="mNo" column="MEMBER_NO"/>
		<result property="mNick" column="MEMBER_NICK"/>
		<result property="aType" column="ARTICLE_TYPE"/>
		<result property="aboutMe" column="ABOUT_ME"/>
		<result property="mPoint" column="MEMBER_POINT"/>
		<result property="aTag" column="TAG"/>
		<result property="view" column="ARTICLE_VIEW"/>
		<result property="like" column="ARTICLE_LIKE"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="replyDate" column="REPLY_DATE"/>
		<result property="changeDate" column="CHANGE_DATE"/>
		<result property="bHeader" column="HEADER"/>
		<result property="bContent" column="CONTENT"/>
		<result property="aStatus" column="ARTICLE_STATUS"/>
		<result property="cType" column="CONTENT_TYPE"/>
		<result property="star" column="ARTICLE_STAR"/>
		<result property="reply" column="TOTAL_REPLY"/>
	</resultMap>

	<resultMap type="Board" id="starResultSet">
		<id property="aNo" column="ARTICLE_NO"/>
		<result property="mNo" column="S.MEMBER_NO"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="bHeader" column="HEADER"/>
	</resultMap>

	<select id="getListCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE ARTICLE_STATUS='Y'
		AND ARTICLE_TYPE = #{atype}
		<if test="type != null">
	 	AND CONTENT_TYPE = #{type}
	 	</if>
	</select>

	<select id="selectList" parameterType="hashmap" resultMap="boardResultSet">
		SELECT *
		FROM BOARDVIEW
		WHERE ARTICLE_STATUS = 'Y'
		AND ARTICLE_TYPE = #{atype}
	 	<if test="type != null">
	 	AND CONTENT_TYPE = #{type}
	 	</if>
		<trim prefix="ORDER BY">
			<if test="atype == 1">  CHANGE_DATE DESC </if>
			<if test="atype == 2">  WRITE_DATE DESC </if>
		</trim>
	</select>
	
	<update id="updateCount" parameterType="_int">
		UPDATE BOARD
		SET ARTICLE_VIEW = ARTICLE_VIEW + 1
		WHERE ARTICLE_NO = #{aNo} 
	</update>

	<select id="selectArticle" resultMap="boardResultSet">
		SELECT *
		FROM BOARDVIEW
		WHERE ARTICLE_NO = #{aNo}
	</select>
	
	<update id="addLike" parameterType="_int">
		UPDATE BOARD
		SET ARTICLE_LIKE = ARTICLE_LIKE + 1
		WHERE ARTICLE_NO = #{aNo} 
	</update>

	<update id="addReplyLike" parameterType="_int">
		UPDATE REPLY
		SET REPLY_LIKE = REPLY_LIKE + 1
		WHERE REPLY_NO = #{rNo} 
	</update>

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD (ARTICLE_TYPE, TAG, ARTICLE_VIEW, ARTICLE_LIKE, WRITE_DATE, HEADER, CONTENT, ARTICLE_STATUS, MEMBER_NO, CONTENT_TYPE)
		VALUES (#{aType}, #{aTag}, DEFAULT, DEFAULT, DEFAULT, #{bHeader}, #{bContent}, DEFAULT, #{mNo}, #{cType})
	</insert>

	<select id="getStarCountByArticle" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM STAR
		WHERE MEMBER_NO = #{mNo}
		AND ARTICLE_NO = #{aNo}
	</select> 

	<insert id="addArticleStar" parameterType="hashmap">
		INSERT INTO STAR
		VALUES (#{mNo}, #{aNo}, DEFAULT)
	</insert>

	<delete id="removeArticleStar" parameterType="hashmap">
		DELETE FROM STAR
		WHERE MEMBER_NO = #{mNo} AND ARTICLE_NO = #{aNo}
	</delete>
  

	<select id="searchList" parameterType="hashmap" resultMap="boardResultSet">
		SELECT *
		FROM BOARDVIEW
		WHERE ARTICLE_STATUS = 'Y'
		<choose>
			<when test="q != null">
			AND ((CONTENT LIKE CONCAT ('%', #{searchItem}, '%')) OR (HEADER LIKE CONCAT ('%', #{searchItem}, '%')))
			</when>
			<otherwise>
			AND TAG LIKE CONCAT ('%', #{searchItem},',', '%')
			</otherwise>
		</choose>
		<if test="aType != null">
			AND ARTICLE_TYPE = #{aType} 
		</if>
		<trim prefix="ORDER BY">
			<if test="sort == null">  CHANGE_DATE DESC </if>
			<if test="sort == 'recent'">  CHANGE_DATE DESC </if>                       
			<if test="sort == 'new'">  WRITE_DATE DESC </if>    
			<if test="sort == 'like'">  ARTICLE_LIKE DESC </if>                       
			<if test="sort == 'star'">  ARTICLE_STAR DESC </if> 
			<if test="sort == 'reply'">  TOTAL_REPLY DESC </if> 
		</trim>
	</select>
	<select id="selectBoardList" resultMap="boardResultSet">
		SELECT *
		FROM BOARDVIEW
		WHERE MEMBER_NO=#{mNo}
		ORDER BY CHANGE_DATE DESC
	</select>
	<update id="modifyBoard" parameterType="Board">
		UPDATE BOARD
		SET CONTENT_TYPE = #{cType},
		    HEADER = #{bHeader}, 
			CONTENT = #{bContent},
			TAG = #{aTag}
		WHERE ARTICLE_NO = #{aNo} 
	</update>
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET ARTICLE_STATUS = 'N'
		WHERE ARTICLE_NO = #{aNo}
	</update>

	<select id="selectStarArticleByUser" resultMap="boardResultSet">
		SELECT S.MEMBER_NO, ARTICLE_NO, HEADER, WRITE_DATE
		FROM STAR S
		LEFT JOIN BOARD B USING(ARTICLE_NO)
		WHERE S.MEMBER_NO = #{mNo}
	</select>
</mapper>